body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background: linear-gradient(135deg, dimgray, black);
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2 {
  text-align: center;
  color: #333;
  margin-top: 0;
  text-transform: capitalize;
  letter-spacing: 1px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
}
button[type="submit"] {
  background-color: royalblue;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background 0.5s ease;
}

button[type="submit"]:hover {
  background-color: dodgerblue;
}

.container {
  border: 1px solid black;
  border-radius: 12px;
  background: linear-gradient(lightgray, white);
  margin-top: 60px;
  width: 100%;
  max-width: 450px;
  padding: 2rem;
}
